<footer id="global_footer">
<div class="footer_inner">
  <div class="footer_nav">
    <ul>
　    <li><%= link_to t('商品カタログ'),"/catalog/index" %></li>
      <li><%= link_to t('ウエポン・ガイド'),"/guide/index" %></li>
      <li><%= link_to t('ユーザーサポート'),"/support/index" %></li>
      <li><%= link_to t('ご利用規約'),"/kiyaku/index" %></li>
      <li><%= link_to t('プライベートポリシー'),"/policy/index" %></li>
      <li><%= link_to t('サイトマップ'),"/sitemap/index" %></li>
    </ul>
  </div>
</div>
</footer>


