<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'home' %>
    <meta name=descripstion content="">
    <title>There are potions and weapons ～ポーション有リマス～</title>
  </head> 
  <body>
    <header id="global_header">
      <div class="header_inner">
        <div class="header_logo">
          <h1>
            <a href="home.html">
            </a>
          </h1>
        </div>
        <div class="header_nav">
          <ul>
            <li><%= link_to t('トップページ'),"/" %></li>
            <li><%= link_to t('サイトマップ'),"/sitemap/index" %></li>
            <li><%= link_to t('お問い合わせ先'), 'contacts/new' %></li>
            <li><%= link_to "新規登録", 'ja/signup' %></li>
            <li><%= link_to "ログイン", 'ja/login' %></li>
          </ul>

      
        </div>
      </div>
    </header>
    <nav id="global_nav">
      <ul class="nav">
        <li>
          <a href="">
              <%= image_tag 'catalog.png',:alt => '商品カタログ' ,:size =>'160x45' %>
          </a>
          <div class="dropdown">
            <ul>
              <li><h3><%= link_to t('商品カタログ'),"/catalog/index" %></h3></li>
              <li class="categoly"><%= link_to "武器 -weapons-","/weapon/index" %></li>
              <li class="categoly"><%= link_to "剣 -sword-","/weapon/sword" %></li>
              <li class="categoly"><%= link_to "槍 -rance-","/weapon/rance" %></li>
              <li class="categoly"><%= link_to "斧 -axe-","/weapon/axe" %></li>
              <li class="categoly"><%= link_to "槌 -hammer-","/weapon/hammer" %></li>
              <li class="categoly"><%= link_to "杖 -wand-","/weapon/wand" %></li>
              <li class="categoly"><%= link_to "弓 -bow-","/weapon/bow" %></li>
              <li class="categoly"><%= link_to "防具 -armor-","/weapon/armor" %></li>     
              <li class="categoly"><%= link_to "その他 -other-","/weapon/other" %></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="">
              <%= image_tag 'wepons.png',:alt => 'ウエポン・ガイド' ,:size =>'160x45' %>
          </a>
          <div class="dropdown">
            <ul>
              <li class="padd"><h4><%= link_to t('ウエポン・ガイド'),"/guide/index" %></h4></li>
              <li class="categoly padd"><a href="guide/rookie/index.html">かけだし冒険者<br><span class="font1 padd2">-rookie guide-</span></a></li>
              <li class="categoly padd"><a href="guide/handling/index.html">武器の取り扱い<span class="font1 padd2">-handling-</span></a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="">
              <%= image_tag 'support.png',:alt => 'ユーザーサポート' ,:size =>'160x45' %>
          </a>
          <div class="dropdown">
            <ul>
              <li class="padd"><h4><%= link_to t('ユーザーサポート'),"/support/index" %></h4></li>
              <li class="padd"><h4><%= link_to t('ご利用規約'),"/kiyaku/index" %></h4></li>
              <li class="padd"><h4 class="wrap"><%= link_to t('プライベートポリシー'),"/policy/index" %></h4></li>
              <li class="padd"><h4><%= link_to t('サイトマップ'),"/sitemap/index" %></h4></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
 