<!-- ヘッダー部分読み込み  -->
<%= render partial: 'template/header' %>
<!-- -->

<div class="flex-list">
    <div class="product-image">
       <%= image_tag 'hammer/hammer1.jpg' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
    
        <div class="product-image">
       <%= image_tag 'hammer/hammer2.jpg' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
    
        <div class="product-image">
       <%= image_tag 'u.jpg' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
</div>


<div class="flex-list2">
    <div class="product-image2">
       <%= image_tag 'u.jpg' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
    
        <div class="product-image2">
       <%= image_tag 'u.jpg' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
    
        <div class="product-image2">
       <%= image_tag 'u.jpg' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
</div>
<%= render partial: 'template/footer' %>