<!-- ヘッダー部分読み込み  -->
<%= render partial: 'template/header' %>
<!-- -->

<div class="flex-list">
    <div class="product-image">
       <%= image_tag 'other/ポーション01.jpg' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
    
        <div class="product-image">
       <%= image_tag 'other/ポーション02.jpg' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
    
        <div class="product-image">
       <%= image_tag 'other/ポーション03.png' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
</div>


<div class="flex-list2">
    <div class="product-image2">
       <%= image_tag 'other/ポーション04.png' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
    
        <div class="product-image2">
       <%= image_tag 'other/ポーション05.jpg' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
    
        <div class="product-image2">
       <%= image_tag 'other/ポーション06.png' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
</div>
<%= render partial: 'template/footer' %>