<!-- ヘッダー部分読み込み  -->
<%= render partial: 'template/header' %>
<!-- -->

<div class="flex-list">
    <div class="product-image">
      <a href="https://weapons-app.herokuapp.com/products/hanmer">
       <%= image_tag 'sword/sword2.jpg' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
      </a>
    
     <div class="product-image">
      <a href="https://weapons-app.herokuapp.com/products/hanmer">
       <%= image_tag 'u.jpg' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
      </a>
    
     <div class="product-image">
      <a href="https://weapons-app.herokuapp.com/products/hanmer">
       <%= image_tag 'u.jpg' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
      </a>
</div>


<div class="flex-list2">
    <div class="product-image2">
      <a href="https://weapons-app.herokuapp.com/products/hanmer">
       <%= image_tag 'u.jpg' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
      </a>
    
    <div class="product-image2">
      <a href="https://weapons-app.herokuapp.com/products/hanmer">
       <%= image_tag 'u.jpg' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
      </a>
    
    <div class="product-image2">
      <a href="https://weapons-app.herokuapp.com/products/hanmer">
       <%= image_tag 'u.jpg' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
      </a>
</div>

<%= render partial: 'template/footer' %>