<%= stylesheet_link_tag    'home' %>


<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
  </div>
<% end %>


<div class="flex-list">
    <div class="product-image">
      <a href="https://weapons-app.herokuapp.com/products/hanmer">
       <%= image_tag 'sword/sword2.jpg' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
      </a>
    
    <div class="product-image">
      <a href="https://weapons-app.herokuapp.com/products/hanmer">
       <%= image_tag 'bow/bow1.jpg' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
      </a>
    
     <div class="product-image">
      <a href="https://weapons-app.herokuapp.com/products/hanmer">
       <%= image_tag 'hammer/hammer2.jpg' %>
       <p>商品名</p>
       <p>100円</p>
     </div>
      </a>
</div>


<div class="flex-list2">
    <div class="product-image2">
      <a href="https://weapons-app.herokuapp.com/products/hanmer">
       <%= image_tag 'rance/rance1' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
    </a>
    
    <div class="product-image2">
      <a href="https://weapons-app.herokuapp.com/products/hanmer">
       <%= image_tag 'armor/armor2.jpg' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
      </a>
    
    <div class="product-image2">
      <a href="https://weapons-app.herokuapp.com/products/hanmer">
       <%= image_tag 'other/ポーション01.jpg' %>
       <p>商品名</p>
       <p>100円</p>
    </div>
      </a>
</div>
    


<%= render partial: 'template/footer' %>
